.contact-page{
    padding: 3% 2.5rem;
    gap: 3rem;
}
.contact-page header{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 60vh;
}

.contact-page header img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
}

.contact-page header h1{
    position: absolute;
    width: 60%;
    top: 5%;
    left: 10%;
    font-size: 5rem;
    line-height: 4rem;
    font-weight: 900;
    color: var(--grey-abuk);
}


@media (min-width: 700px) {
    .contact-page{
        flex-direction: row;
    }
    .contact-page header{
        width: 45%;
        padding-top: 10rem;
        height: 100%;
        justify-content: flex-start;
    }
    .contact-page header h1{
        left: 0rem;
        color: var(--green-abuk);
        width: 100vw;
        font-size: 6rem;
        line-height: 5rem;
    }
    .contact-page header img{
        width: 90%;
    }
}

@media (min-width: 1000px) {
    .contact-page{
        padding: 1% 2.5rem;
    }
    .contact-page header{
        padding-top: 12rem;
    }
    .contact-page header h1{
        font-size: 8rem;
        line-height: 6rem;
    }
}
