:root {
    --green-abuk: #30452B;
    --black-abuk: #222;
    --grey-abuk: #DCDCDC;
    --primary-color: #30452B;
    --secondary-color: #DCDCDC;
    --tertiary-color: #9D9480;
    --tertiary-color-darker: #9D9480;
    --dark-button-color: #212427;
    --danger-color: #ff0000;
    --success-color: #00ff00;
    --warning-color: #ffff00;
    --info-color: #0000ff;
    --dark-color: #222;
    --light-color: #FFFFF0;
    --primary-font: 'Darker Grotesque', sans-serif;
    --secondary-font: 'DM Sans', sans-serif;
    --primary-font-size: 1.6rem;
}

* {
    font-family: var(--secondary-font);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1,h2{
    font-family: var(--primary-font);
}

html {
    font-size: 10px;
    overflow-x: hidden;
}

body{
    min-height: 100vh;
    height: 100px;
    position: relative;
    overflow-x: hidden;
}

main{
    min-height: 80vh;
    position: relative;
    display: flex;
    align-items: stretch;
    flex-direction: column;
}
main section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

app-root{
    position: relative;
}

p,
span,
a,
h1,
h2,
h3,
h4,
h5,
h6,
address{
    font-size: 1.3rem;
    font-weight: 400;
}
.bold{
    font-weight: 600;
    font-size: inherit;
}

a{
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

a:hover{
    text-decoration: underline;
}

.flex-box{
    display: flex;
    align-items: center;
    justify-content: center;
}




/* Estilos específicos para el modo oscuro */
@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--secondary-color);
    }

    /* Puedes necesitar agregar más estilos específicos para el modo oscuro */
}


@media (min-width: 530px) {

    h1{
        font-size: 3rem;
    }

    h2{
        font-size: 2.3rem;
    }

    h3{
        font-size: 2rem;
    }

    h4{
        font-size: 1.5rem;
    }

    h5{
        font-size: 1.3rem;
    }

    h6{
        font-size: 1.1rem;
    }



}


@media (min-width: 950px) {


}





